@import "../components/variables";
#home {
	section {
		margin-bottom: 20px;
	}
	.post_content {
		padding: 20px 0;
	}
	#info {
		.btn {
			display: inline-block;
		}
	}
	#general {
		margin-bottom: 70px;
		.btn {
			float: left;
			font-size: 16px;
		}
	}
	#events {
		h2,
		h4 {
			float: left;
			z-index: 10;
			color: $white;
			position: relative;
			text-shadow: 1px 1px 4px #000;
		}
		h2 {
			margin: 20px 0 0 20px;
		}
		h4 {
			right: 120%;
			bottom: 20px;
			position: absolute;
			transition: $transition;
		}
		.link {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			position: absolute;
			transition: all ease 0.1s;
		}
		.sold-out {
			background: $nf-red;
			position: absolute;
			top: 35%;
			left: 0;
			right: 0;
			text-align: center;
			color: #fff;
			transform: rotate(-17Deg);
			padding: 10px 0;
			font-size: 40px;
		}
		li {
			width: 100%;
			overflow: hidden;
			text-align: left;
			min-height: 250px;
			position: relative;
			border-radius: 10px;
			margin-bottom: 40px;
			border: 1px solid $black;
			background-size: cover;
			background-position: center center;
			&:hover {
				h4 {
					right: 20px;
				}
				.link {
					background: rgba(0,0,0,0.3);
				}
			}
		}
	}
	@media (min-width: $mobile) {
	}
}