#media {
    section {
        margin-bottom: 50px;
    }
    form {
        width: 50%;
        float: left;
        li {
            float: left;
            width: 100%;
        }
    }
    .half {
        float: left;
        width: 46%;
        &:nth-child(even) {
            float: right;
        }
    }
    .radio {
        label {
            margin-right: 20px;
        }
        span {
            width: 60px;
            display: inline-block;
        }
        input {
            float: left;
            width: 20px;
            margin-right: 5px;
        }
    }
    .btn {
        float: right;
    }
}