//main container
$container: 1170px;
$gutter-size: 20px;
$transition: all 0.5s ease;

// Breakpoints
$mobile: 768px;

/* ==========Colours ========== */
//Basic
$white: #ffffff;
$black: #333333;
$border-gray: #c7c7c7;

$nf-blue: #25579f;
$nf-red: #ed1d24;

