form {
    #form-title {
        font-size: 22px;
        margin-bottom: 20px;
        text-transform: capitalize;
    }
    .driver {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .driver-title {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .adddriver {
        .btn {
            display: inline-block;
        }
    }
    li {
        padding: 0;
        width: 100%;
        position: relative;
        margin: 0 0 20px;
        list-style-type: none;
    }
    label {
        font-size: 20px;
    }
    select,
    input,
    textarea {
        width: 100%;
        font-size: 16px;
        padding: 5px 2%;
        border-radius: 3px;
        border: 1px solid $border-gray;
    }
    select {
        padding-top: 6px;
        padding-bottom: 6px;
        -moz-appearance: none;
        -webkit-appearance: none;
    }
    button {
        font-size: 15px;
        margin: 0 auto;
    }
    #year,
    #make,
    #model,
    #car-cat,
    .driver-title,
    .adddriver {
        display: none;
    }
    #year,
    #make,
    #model,
    #shirt,
    #car-cat {
        width: 47%;
    }
    &#autox,
    &#car-show {
        #team-name {
            display: none;
        }
    }
    &#autox,
    &#team-tandem {
        #year,
        #make,
        #model {
            display: block;
        }
    }
    &#car-show {
        #car-cat {
            display: block;
        }
    }
    &#team-tandem {
        .adddriver,
        .driver-title {
            display: block;
        }
    }
    .error {
        left: 0;
        top: 100%;
        font-size: 11px;
        position: absolute;
        color: lighten($nf-red, 0.5);
    }
    .radios,
    .checkboxes {
        margin-top: 10px;
        input {
            float: left;
            width: 20px;
        }
        li {
            line-height: 1;
            margin: 0 0 10px;
        }
    }
}